h1 {
  font-size: 36px;
  line-height: 72px;
}

.d-grid {
  display: grid;
}

.grid-sidebar {
  grid-template-columns: 350px 1fr;
  height: 100%;
}

.sidebar {
  background-color: #e4e4e4;
  height: 100%;

  .category-list,
  .footer-list {
    list-style-type: none;
  }

  .list-item {
    margin-top: 4px;
    margin-bottom: 4px;
    &:hover {
      cursor: pointer;
    }
  }
}

/* clear fix */
.grid {
  &-item {
    width: 32%;
    margin-bottom: 8px;
    img {
      max-width: 100%;
      border-radius: 7px;
      transform: scale(0);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 576px) {
  .grid-sizer {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .grid-sizer {
    width: 49%;
  }
}
.scaleUp {
  -webkit-animation: scaleUp 0.6s ease-out both;
  animation: scaleUp 0.2s ease-out both;
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scaleUp {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
